<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>전동킥보드 주차장 지도</title>
</head>
<body>
	<div id="map" style="width:1000px;height:700px;"></div>
	<div id="lat" style="display: none">
    	<ul>
   	 		{% for pl in parkinglots %}
     	   		<li>{{pl.latitude}}</li>
    		{% endfor %}
    	</ul>
	</div>
	<div id="lon" style="display: none">
    	<ul>
    		{% for pl in parkinglots %}
        		<li>{{pl.longitude}}</li>
    		{% endfor %}
    	</ul>
	</div>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=796522558bb0e42d1eb6354c6db96abe"></script>
	<script>
		var container = document.getElementById('map');
		var options = {
			center: new kakao.maps.LatLng(36.62842348287764, 127.45741876801542),	<!--지도 시작 중심 위치(위도, 경도)-->
			level: 4	<!--지도 확대 정도 조절-->
		};

		var map = new kakao.maps.Map(container, options);

		var list_lat = document.getElementById("lat").innerText.split(',');
    	var list_lon = document.getElementById("lon").innerText.split(',');

    	var parkinglotCoordinates = new Array();

    	for(var idx=0; idx<list_lat.length; idx++){
        	var latitude = list_lat[idx];
        	var longitude = list_lon[idx];
        	parkinglotCoordinates.push(new kakao.maps.LatLng(latitude, longitude))
   		 }

		var marker = new Array;

    	for(var idx=0; idx<list_lat.length; idx++){
        	var marker = new kakao.maps.Marker({
            	map: map,
            	position: parkinglotCoordinates[idx]
        	});
   		 }
    	marker.setMap(map);
	</script>
</body>
</html>